img {
  width: 100%;
  height: 100%; }

.setup {
  padding: 50px;
  margin: 0 auto;
  background-color: white;
  max-width: 600px;
  border-radius: 10px; }
  .setup__option {
    display: flex;
    align-items: center;
    justify-content: center; }
    .setup__option__title {
      font-size: 26px;
      width: 50%; }
    .setup__option__options {
      display: flex;
      width: 50%; }
    .setup__option__chooser {
      display: flex;
      min-width: 50px;
      min-height: 50px;
      margin: 20px;
      border: 2px solid black; }
      .setup__option__chooser p {
        padding: 0px 10px; }
  .setup__submit {
    width: 100px;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    margin: 40px auto 0px auto;
    border: 2px solid black;
    cursor: pointer; }
  .setup__submit:hover {
    background-color: #b3dfff; }
  .setup__notifier {
    margin: 0;
    text-align: center;
    color: red;
    font-size: 16px; }
  .setup .selected {
    background-color: #b3dfff; }

.title {
  text-align: center; }

.chessboard {
  display: flex;
  flex-flow: column nowrap;
  border: black 12px solid;
  margin: 0 auto;
  width: 80vh;
  height: 80vh; }
  .chessboard__row {
    display: flex;
    flex-flow: row nowrap;
    height: 12.5%;
    width: 100%; }
    .chessboard__row .light {
      background-color: white; }
    .chessboard__row .dark {
      background-color: #444; }
    .chessboard__row__field {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12.5%;
      position: relative; }
      .chessboard__row__field .highlight {
        position: absolute;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        background-color: #b3dfff; }
      .chessboard__row__field .king, .chessboard__row__field .queen, .chessboard__row__field .rook, .chessboard__row__field .knight, .chessboard__row__field .bishop, .chessboard__row__field .pawn, .chessboard__row__field .emptyfield {
        flex: 100% 1 0; }
      .chessboard__row__field .emptyfield {
        width: 100%;
        height: 100%; }

.capturedPieces {
  height: 40px;
  width: 80vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between; }
  .capturedPieces__color {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px; }
  .capturedPieces__color > h3 {
    padding-right: 5px; }
  .capturedPieces__color > img {
    width: 20px;
    height: 20px;
    padding: 2px 0px; }
